body{
    background-color: white;
}
button:focus { outline: none; }
.days{
    font-size:30px;
    border: none;
    display: block;
    height:90px;
    color:black;
    border-bottom: 1px solid gray;
    padding: 15px 32px;
    background: transparent;
    cursor: pointer;
   
}
.sub{
    font-size:15px;
    border: none;
    display: block;
    height:fit-content;
    color:black;
    
    padding: 15px 32px;
    background: transparent;
    cursor: pointer;
    
}